<fieldset>
	<legend>Números</legend>
	<div class="resultados">
	{{#each numeros}}
		<div class="num" id="{{this}}">
			<span class="pos">{{#increment @index}} {{/increment}}</span>
			<span class="number">{{this}}</span>
			{{#assign ../resultado this}} {{/assign}}
			{{#payment ../resultado this}} {{/payment}}
		</div>
	{{/each}}
	</div>
</fieldset>