<h1>Administración de rifas</h1>
<div class="error not-visible"></div>
<fieldset id="grupo-nombre" class="visible">
	<legend>Ingresa el nombre para configurar la rifa</legend>
	<label for="nombre">Nombre</label>
	<input id="nombre" type="text" />
	<button id="crear" type="button">Crear</button>
</fieldset>
<fieldset id="grupo-configuracion" class="not-visible">
	<legend>Configuración de la rifa</legend>
	<label for="nombre-largo">Nombre visible</label>
	<input id="nombre-largo" type="text" />
	<label for="numeros">Números permitidos</label>
	<input id="numeros" type="text" />
	<label for="plazas">Plazas por persona</label>
	<input id="plazas" type="text" />
	<label for="ganadores">Número de ganadores</label>
	<input id="ganadores" type="text" />
	<button id="guardar" type="button">Guardar</button>
</fieldset>