<h1>Administración de rifas</h1>
<fieldset>
	<legend>Ingresa el nombre para configurar la rifa</legend>
	<label for="nombre">Nombre</label>
	<input id="nombre" type="text" />
	<button id="crear" type="button">Crear</button>
</fieldset>