<script src="../socket.io/socket.io.js"></script>
<div id="contenedor-rifa" class="{{state estado}}">
	{{> raffle}}
	{{> numbers}}
</div>
<script>
	(function($){
		$.fn.visualizar = function(options) {
			var ganador = options.ganador;
			var falsos = options.falsos;
			var promesaGlobal;
			var encolador = {
				funciones: [],
				insertar: function(tareas) {
					var i = 0, tarea, funcion, contexto;
					for(; i<tareas.length; i++) {
						tarea = tareas[i];
						funcion = tarea.shift();
						contexto = tarea.shift();
						this.funciones.push({ funcion: funcion, contexto: contexto, argumentos: tarea});
					}
				},
				llamar: function(funcion, contexto, argumentos) {
					return function() {
						return funcion.apply(contexto, argumentos).promise();
					};
				},
				ejecutar: function() {
					var promesa = $.Deferred().resolve().promise(), i = 0;
					for(; i<this.funciones.length; i++) {
						promesa = promesa.then(this.llamar(this.funciones[i].funcion, this.funciones[i].contexto, this.funciones[i].argumentos));
					}
					return promesa;
				}
			};
			this.each(function() {
				var contenedor = $(this), i = 0, falso, promesa;
				var numero = $(".numero", contenedor);
				var lista = $(".lista", contenedor);
				var falsosContenedor = $("<div></div>").addClass("falsy");
				var falsosLength = falsos.length;

				if(numero.length) {
					numero.remove();
				}
				numero = $("<div />").addClass("numero");
				numero.prependTo(contenedor);
				
				numero.addClass("not-visible");
				lista.hide();

				numero.text(ganador);
				lista.append("<div>" + ganador + "</div>");

				$("div", lista).addClass("result");

				for(; i<falsosLength; i++) {
					$("<div>" + falsos[i] + "</div>").addClass("not-visible").appendTo(falsosContenedor);
				}
				falsosContenedor.appendTo(contenedor);

				i = 0;
				for(; i<falsosLength; i++) {
					falso = $($("div", falsosContenedor).get(i));
					encolador.insertar([
						[falso.fadeIn, falso, { duration: 500 }],
						[falso.fadeOut, falso, { duration: 500 }]
					]);
				}
				promesaGlobal = encolador.ejecutar().then(function() {
					falsosContenedor.remove();
					numero.addClass("falsy").fadeIn({ duration: 500 });
					return lista.css({ float: "left" }).fadeIn({ duration: 500 }).promise();
				});

				return contenedor;
			});
			
			return promesaGlobal;
		}
	}(jQuery));

	var socket = io.connect("/", {
		reconnection: false
	});

	$("#asignar").on("click", function() {
		var seleccion = $("#seleccion").val();
		var asignado = $("#asignado").val();
		if(seleccion && asignado) {
			socket.emit("number change", seleccion, asignado);
		}
	});

	socket.on("number change", function(numero, asignado) {
		var number = $("#" + numero + " .assign");
		number.removeClass("empty");
		number.text(asignado);
		$("#seleccion option[value=" + numero + "]").attr("disabled", "disabled");
	});

	socket.on("number payment", function(numero) {
		var number = $("#" + numero + " .payment");
		number.removeClass("not-payed").addClass("payed");
		number.text("pagado");
	});

	socket.on("status change", function(status) {
		if(status === "abrir") {
			$("#contenedor-rifa").removeClass().addClass("abierta");
			$("#estado .value").text("abierta");
			$("#seleccion").closest(".control").addClass("visible").removeClass("not-visible");
		} else if(status === "cerrar") {
			$("#contenedor-rifa").removeClass().addClass("cerrada");
			$("#estado .value").text("cerrada");
			$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
			$("#grupo-visualizacion").addClass("visible").removeClass("not-visible");
		} else if(status === "generando") {
			$("#contenedor-rifa").removeClass().addClass("generando");
			$("#estado .value").text("generando");
		} else if(status === "terminada") {
			$("#contenedor-rifa").removeClass().addClass("terminada");
			$("#estado .value").text("terminada");
		}
	});

	socket.on("generate number", function(ganador, falsos) {
		$("#grupo-visualizacion .lista-numeros").visualizar({
			ganador: ganador,
			falsos: falsos
		}).then(function() {
			$("#" + ganador).addClass("ganador");
		});
	});

	$(document).ready(function() {

		var containerClass = $("#contenedor-rifa").attr("class");
		switch(containerClass) {
			case "esperando":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				$("#grupo-visualizacion").addClass("not-visible").removeClass("visible");
				break;
			case "abierta":
				$("#grupo-visualizacion").addClass("not-visible").removeClass("visible");
				break;
			case "cerrada":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				break;
			case "generando":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				$(".lista div").each(function(i, element) {
					element = $(element);
					$("#" + element.text()).addClass("ganador");
				});
				break;
			case "terminada":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				$(".lista div").each(function(i, element) {
					element = $(element);
					$("#" + element.text()).addClass("ganador");
				});
				break;
		}

	});
</script>