<script src="../socket.io/socket.io.js"></script>
<div id="contenedor-rifa" class="{{state estado}}">
	{{> raffle}}
	{{> numbers}}
</div>
<script>
	var socket = io.connect("/");

	$("#asignar").on("click", function() {
		var seleccion = $("#seleccion").val();
		var asignado = $("#asignado").val();
		if(seleccion && asignado) {
			socket.emit("number change", Number(seleccion), asignado);
		}
	});

	socket.on("number change", function(numero, asignado) {
		$("#" + numero + " .assign").text(asignado);
		$("#seleccion option[value=" + numero + "]").attr("disabled", "disabled");
	});

	socket.on("status change", function(status) {
		if(status === "abrir") {
			$("#contenedor-rifa").removeClass().addClass("abierta");
			$("#estado .value").text("abierta");
			$("#seleccion").closest(".control").addClass("visible").removeClass("not-visible");
		} else if(status === "cerrar") {
			$("#contenedor-rifa").removeClass().addClass("cerrada");
			$("#estado .value").text("cerrada");
			$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
			$("#grupo-visualizacion").addClass("visible").removeClass("not-visible");
		}
	});

	$(document).ready(function() {

		var containerClass = $("#contenedor-rifa").attr("class");
		switch(containerClass) {
			case "esperando":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				$("#grupo-visualizacion").addClass("not-visible").removeClass("visible");
				break;
			case "abierta":
				$("#grupo-visualizacion").addClass("not-visible").removeClass("visible");
				break;
			case "cerrada":
				$("#seleccion").closest(".control").addClass("not-visible").removeClass("visible");
				break;
		}

	});
</script>