.visible {
	display: block;
}
.not-visible {
	display: none;
}

.resultados {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.resultados .ganador {
	border: solid 1px black;
}

/* extra small devices */
@media only screen and (max-width: 767px) {
	/* */
}

/* small devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* */
}